{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    <h6><a class="badge badge-secondary" href="{% url 'watchlist' listing.id %}">Watchlist</a></h6>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 50%;">
                <img src="{{ listing.image }}" class="card-img" alt="">
                <div class="card-body">
                    <h5 class="card-title"> {{ listing.title }} </h5>
                    <p class="card-text"> <b>Price:</b> ${{ listing.starting_bid }} </p>
                    <p class="card-text"> {{ listing.description }} </p>
                    <p class="card-text"><small class="text-muted">Created {{ listing.date_created }} </small></p>
                    <p class="card-text">Listed by: {{ listing.listed_by }}</p>
                    <p class="card-text">Category: {{ listing.category }}</p>
                </div>
            </div>
        </div>
        <div class="col">
          <h3>The auction is closed. The winner is <b>{{ winner }}</b>!</h3>
          <br>
          {% for comment in comments %}
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">{{comment.user}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{comment.date_added}}</h6>
                  <p class="card-text">{{comment.comment}}</p>
              </div>
          </div>
          <br>
          {% endfor %}
        </div>
    </div>
{% endblock %}
